.main {
  height: 100%;
}

.list__container {
  padding: 2rem;
  height: 100%;
}

.list__column {
  border: 1px solid grey;
  height: calc(100% - 4rem);
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.list__item {
  line-height: 2rem;
  padding: 0.5rem 1rem;
  position: relative;
  vertical-align: middle;
}

.list__item > div {
  display:inline-block;
  vertical-align:middle;
}

.search {
  display: inline-block;
}

.list__search {
  border-bottom: 1px solid grey;
  cursor: pointer;
  display: block;
  line-height: 3rem;
  padding: 0 1rem;
}

.list__search:nth-child(even) {
  background: rgba(152, 170, 179, 0.2);
}

.list__search:hover {
  background: rgba(152, 170, 179, 0.5);
}

.list {
  background-color: rgba(0, 0, 0, 0);
  height: calc(100% - 4rem);
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.08);
  border-radius: 25px;
}

.list::-webkit-scrollbar-track {
  background: inherit;
}

.list__input {
  border-bottom: 1px solid black;
  border-radius: 0;
  line-height: 2rem;
  margin: 0;
  width: calc(100% - 2rem);
}

.list__subtitle {
  color: white;
  border-bottom: 1px solid grey;
  margin: 0;
  padding: 1rem;
}

.list__subtitle--primary {
  background: #8f7ee6;
}

.list__subtitle--secondary {
  background: #00aaff;
}

.list__subtitle--ternary {
  background: #98aab3;
}

.checkbox {
  width: 20px;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.checkbox__label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
}

.checkbox__label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}

.checkbox__label:hover::after {
  opacity: 0.3;
}

input[type=checkbox] {
  visibility: hidden;
}

input[type=checkbox]:checked + label:after {
  opacity: 1;
}