.main {
  height: 100%;
}

.list__container {
  padding: 2rem;
  height: 100%;
}

.list__column {
  background: #f5f7f8;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0px 1px 10px 1px rgba(182,186,189,1);
  height: calc(100% - 4rem);
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.grocery__list {
  padding: 0.25rem 0.5rem;
  height: calc(100% - 4rem);
  overflow-y: auto;
}

.list__item {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(130,145,153,0.5);
  line-height: 2rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  position: relative;
  vertical-align: middle;
}

.list__item > div {
  display: inline-block;
  vertical-align: middle;
}

.list::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.08);
  border-radius: 25px;
}

.list::-webkit-scrollbar-track {
  background: inherit;
}

.list__input {
  border-bottom: 1px solid black;
  border-radius: 0;
  line-height: 2rem;
  margin: 0;
  width: calc(100% - 2rem);
}

.list__subtitle {
  color: white;
  border-bottom: 1px solid grey;
  margin: 0;
  padding: 1rem;
}

.list__subtitle--primary {
  background: #8f7ee6;
}

.list__subtitle--secondary {
  background: #00aaff;
}

.list__subtitle--ternary {
  background: #98aab3;
}

.checkbox {
  width: 20px;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.checkbox__label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
}

.checkbox__label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}

.checkbox__label:hover::after {
  opacity: 0.3;
}

input[type=checkbox] {
  visibility: hidden;
}

input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.search {
  background: #f5f7f8;
  box-shadow: 0px 1px 10px 1px rgba(182,186,189,1);
  border-radius: 5px;
  border: 1px solid #00aaff;
  left: 0;
  height: 20rem;
  position: absolute;
  transform: translateX(-50%);
  width: 300px;
  z-index: 2;
}

.search__form {
  background: #00aaff;
  padding: 0.25rem 1rem;
  text-align: center;
  width: 100%;
}

.search:after, .search:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.search:after {
  border-bottom-color: #00aaff;
  border-width: 10px;
  margin-left: 7px;
}

.search:before {
  border-bottom-color: #00aaff;
  border-width: 11px;
  margin-left: 6px;
}

.input--search {
  border-radius: 5px;
  display: inline-block;
  position: relative;
  width: 100%;
}

.search__list {
  height: calc(20rem - 5rem);
  overflow-y: scroll;
  padding: 0.25rem 0.5rem;
}

.search__item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(130,145,153,0.5);
  cursor: pointer;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  position: relative;
  vertical-align: middle;
}

.search__item:hover {
  background-color: var(--grey-light);
  opacity: 0.9;
}
