<main class="dashboard">
  <section>
    <h2>
      Single Action Checkboxes
    </h2>
    <aside class="sidebar">
      <h3 class="sidebar__subtitle">
        Lists
      </h3>
      <ul class="sidebar__list">
        <li class="sidebar__item" ng-repeat="list in home.lists track by $index">
          <h3 class="sidebar__title">
            {{ list.attributes.title }}
          </h3>
          <p class="sidebar__paragraph">
            This list has
            <span>
              {{ list.relations.foods.length }}
            <span> items
          </p>
          <p class="sidebar__paragraph">
            Updated: {{ list.formatDate }}
          </p>
          <button class="button button--primary" ng-click="home.deleteList(list.attributes.id)">
            Delete
          </button>
          <a class="button button--secondary" ng-href="/list/{{list.id}}" ng-click="home.setList(list.id)">
            Select
          </a>
        </li>
      </ul>
    </aside>
  </section>
  <section class="list__add">
    <form class="list__form" ng-submit="$event.preventDefault()">
      <input class="input" placeholder="List name" type="text" ng-model="home.listName" required>
      <button class="button button--primary right" ng-click="home.addList()">
        Add List
      </button>
    </form>
  </section>
</main>