<div>
  <div>
    <div>
      <h2>
        Single Action Checkboxes
      </h2>
      <ul>
        <li class="md-2-line md-clickable" ng-repeat="list in home.lists track by $index">
          <h3>
            {{ list.attributes.title }}
          </h3>
          <h4>
            This list has {{ list.foods.length }} items
          </h4>
          <p>
            Updated: {{ list.formatDate }}
          </p>
          <button ng-click="home.deleteList(list.attributes.id)">
            Delete
          </button>
          <button ng-href="/list/{{list.id}}" ng-click="home.setList(list.id)">
            Select
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <form class="search" ng-submit="$event.preventDefault()">
      <fieldset>
        <label>List Name</label>
        <input type="text" ng-model="home.listName" required>
      </fieldset>
      <button ng-click="home.addList()">
        Add List
      </button>
    </form>
  </div>
</div>