<header class="header">
  <nav>

  </nav>
</header>
<main class="main">
  <div class="list__container">
    <section class="list__column">
      <h3 class="subtitle list__subtitle list__subtitle--primary">
        Grocery List
      </h3>
      <ul class="list">
        <li class="list__item clearfix" ng-repeat="food in list.foods track by $index">
          <span class="left">
            {{food.name}}
          </span>
          <div class="checkbox right">
            <input type="checkbox" ng-change="list.onCompletionChange($index)" id="checkbox-{{$index}}" ng-model="food._pivot_complete" value="none" name="checkbox"/>
            <label class="checkbox__label" for="checkbox-{{$index}}"></label>
          </div>
        </li>
      </ul>
    </section>
    <section class="search">
      <input
        class="input"
        ng-model="list.searchText"
        ng-minlength="1"
        ng-change="list.querySearch(list.searchText)"
        placeholder="Find food" />
      <ul class="search__list">
        <li
          class="list__search"
          ng-repeat="item in list.searchResults track by $index"
          ng-click="list.addFoodItem(item.id)">
          <span md-highlight-text="list.searchText" md-highlight-flags="^i">
            {{item.text}}
          </span>
        </li>
      </ul>
    </section>
</main>